@font-face {
  font-family: "iconfont"; /* Project id 3861911 */
  src: url('iconfont.woff2?t=1674013040644') format('woff2'),
       url('iconfont.woff?t=1674013040644') format('woff'),
       url('iconfont.ttf?t=1674013040644') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuangjiantou-you:before {
  content: "\e6c4";
}

.icon-APPtuisong:before {
  content: "\e629";
}

.icon-yijianfankui:before {
  content: "\e68e";
}

.icon-zhengtitubiaosvg_yijianfankui:before {
  content: "\e639";
}

.icon-weixin:before {
  content: "\e609";
}

.icon-lingdang:before {
  content: "\e636";
}

